<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/homenavbar.ejs'); %>
<body>
<br>
<div class="container mt-4">

    <% result.articles.rows.forEach(article => { %>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-outline-warning">Read</a>
            </div>
        </div>
   <% }) %>

   <div class="row">
    <div class="col col-12">

        <% if (result.page > 2){ %>
            <a style="float: left; color: black;" href="/articles/page/<%= result.page - 1 %>">< Prev</a>
        <% }else if(result.page == 2){ %>
            <a style="float:left; color: black;" href="/"> < Prev</a>
        <% } %>


        <% if(result.next) {%>
            <a style="float: right" href="/articles/page/<%= result.page + 1 %>">Next ></a>
        <% } %>
        <br>
    </div>
</div>
</div>

</body>
<%- include ('../../partials/footer.ejs'); %>

<style>

body{
        background: #FFEFBA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    h2{
        padding-left: 2%;
    }

</style>