<%- include ('./partials/header.ejs'); %>
<%- include ('./partials/homenavbar.ejs'); %>
    <div class="container mt-4">
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                <div class="card-body">
                    <%- article.body %>
                </div>
            </div>
    </div><br>
<%- include ('./partials/footer.ejs'); %>

<style>

    body{
            background: #FFEFBA;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    
    </style>

