<%- include ('partials/header.ejs'); %>
<%- include ('partials/homenavbar.ejs'); %>

<br>
<div class="container">

    <%- include ('partials/introducao.ejs'); %>    

    <%- include ('partials/maisconteudo.ejs'); %>

    <%- include ('partials/conteudo-artigos.ejs'); %>

    

    

</div>


<%- include ('partials/footer.ejs'); %>